footer {
    // Typography
    text-align: center;

    // Layout
    margin-top: 1.3em;
    margin-bottom: 1.8em;
}


footer p {
    // Colors
    color: palette(burlywood);

    // Typography
    @include sub-heading-font();
}
