header {
    @include background(url("/shelf/assets/img/vwlogo.svg") center no-repeat);
    background-size: 4em 4em;
    opacity: 0.6;

    // Transitions
    @include transition(opacity 0.3s ease-in-out); 

    &:hover {
        opacity: 1.0; }

    h1 a {
        @include hide-text;
        display: block;
        height: 4em; }
} 



/*
header {
    // Spacing
    margin-bottom: 3em;
    text-align: center;
}

header h1 {
    // Background
    @include hide-text(2em);

    // @include background(url("../../assets/img/vwlogo.svg") center no-repeat);
    @include background(url("/shelf/assets/img/vwlogo.svg") center no-repeat);
    background-size: auto 2em;

    a {
    display: block;}
}
*/
