header {
    @include background(url("/shelf/assets/img/vwlogo.svg") center no-repeat);
    background-size: 4em 4em;
    opacity: 0.6;

    // Transitions
    @include transition(opacity 0.3s ease-in-out); 

    &:hover {
        opacity: 1.0; }

    h1 a {
        @include hide-text;
        display: block;
        height: 4em; }


    @include media($mobile) {
        padding: 0;
        // Spacing
        background-size: 4em 4em;

        h1 a {
            height: 3em; }
    }       
} 


