.title-cards ul {
    // Remove all list styles
    list-style-type: none;

    // Remove spacing in ul and lists
    &, li {
        margin: 0;
        padding: 0;
    }
}


.simple-subscription h1 a{
    // Colors
    // color: palette(bisque, x-light);
    // background-color: palette(burlywood, light);
    color: palette(burlywood, dark);
    background-color: palette(burlywood, mid-light);
    &:hover {
        // Colors
        // background-color: palette(burlywood);
        background-color: palette(burlywood, light);
    }
}


.title-card h1 a{
    // Colors
    color: palette(skyblue);
    background-color: palette(skyblue, x-light);
    &:hover {
        // Colors
        color: palette(skyblue);
        background-color: palette(skyblue, mid-light);
    }
}




.title-card, .simple-subscription {
    text-align: center;
    margin-bottom: 0.4em;

    // Grid
    @include outer-container();

    h1 {
        // Spacing
        margin-bottom: 0;
        padding-bottom: 0;

        // Grid
        @include span-columns(6);

        @include media($mobile) {
            // Spacing
            margin-bottom: 0.1em;
        }       

        a {

            // Borders
            @include border-top-radius(2em);
            @include border-bottom-radius(2em);

            // Spacing
            padding: 0.3em 0.8em 0.4em 0.8em;
            margin-bottom: 0;

            // Typography
            text-decoration: none;


            // Transitions
            @include transition(color 0.2s ease-in-out);
            @include transition(background-color 0.2s ease-in-out);
        }
    }


    h2 {
        margin-top: 2em;

        // Colors
        color: palette(burlywood);
 
        // Typography
        @include sub-heading-font();

        // Grid
        @include span-columns(6);


        @include media($mobile) {
            // display
            display: none;
        }       
    }
}
