<section class="subscription">
<!-- PREVIOUS FORM
  <form>
  Input setup to show placeholder properly
  <input type="email" placeholder="subscribe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'subscribe'" >
  </form>
-->

<!-- BEGIN MAILCHIMP SIGNUP FORM -->
<form action="//sri.us10.list-manage.com/subscribe/post?u=89d145f159e5788b9d81e4918&amp;id=cfa55894ee" 
      method="post" 
      id="mc-embedded-subscribe-form" 
      name="mc-embedded-subscribe-form" 
      class="validate" 
      target="_blank" 
      novalidate>


  <!-- <input type="email" --> 
  <!--        value="" --> 
  <!--        name="EMAIL" --> 
  <!--        class="required email" --> 
  <!--        id="mce-EMAIL"> -->

  <input type="email" 
         value="" 
         id="mce-EMAIL"
         class="required email"
         placeholder="subscribe" 
         onfocus="this.placeholder = ''" onblur="this.placeholder = 'subscribe'" >


         <div id="mce-responses" class="clear">
           <div class="response" id="mce-error-response" style="display:none"></div>
           <div class="response" id="mce-success-response" style="display:none"></div>
         </div>    

         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <!-- <div style="position: absolute; left: -5000px;"> <input type="text" name="b_89d145f159e5788b9d81e4918_cfa55894ee" tabindex="-1" value=""> </div> -->

         <input type="submit" 
                value="Subscribe" 
                name="subscribe" 
                id="mc-embedded-subscribe" 
                class="button" 
                style="display: none">
         </div>

</form>
<!--End mc_embed_signup-->
</section><!-- /subscriptions -->
